body {
	margin-bottom: 150 px;
  background-color: black;
}

#screen-fit {
  margin-bottom: 50 px;
}

.navbar {
  margin-bottom: 50 px;
}



.navbar-inverse  {
  margin-bottom: 50 px;
} 

.navbar-static-top {
  margin-bottom: 50 px;
}