<header>
<div id="screen-fit">
  <!-- INSERTING NAV BAR -->
<div class = "navbar navbar-inverse navbar-static-top"

     <!-- ensures that everything following is centered and stays in the navbar -->
      <div class = "container">

        <a href = "#" class = "navbar-brand">#GetMyCodeOn</a> 

        <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = ".navbar-collapse">
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
        </button>

        <!--Ensures that the header collapses on a small screen like a mobile, until you press a button (to come)-->

        <div class = "collapse navbar-collapse navHeaderCollapse">

        <!-- styles the navbar item and moves it to the right -->
          <ul class = "nav navbar-nav navbar-right">
 
              <!-- The class "active" works on most things that are buttons, indents them -->

              <li><a href = "/index">Home</a></li>
              <li><a href = "/team">Team</a></li>
              <li><a href = "/blog">Blog</a></li>
              <li><a href = "/portfolio">Portfolio</a></li>
              <li><a href = "/tutorials">Tutorials</a></li>
              <li><a href = "/socialmedia">Social Media</a></li>
              <li><a href = "http://foundersandcoders.org">Founders & Coders</a></li>

          </ul> 
        </div>
      </div>
    </div>
  </div>
</header>
